#contentarea .categories {
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: white;
	margin-bottom: 20px;
	font-size: 25px;
}

#contentarea .cat:hover {
	background-color: #2A75B1;
	color: white;
}

#contentarea .article {
	padding-bottom: 50px;
}

#contentarea .article img {
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

#contentarea .social {
	height: 50px;
	line-height: 50px;
	text-align: left;
	font-size: 25px;
	background-color: white;
}

#contentarea .date {
	height: 50px;
	line-height: 50px;
	text-align: center;	
	font-size: 20px;
	background-color: #2A75B1;
	color: white;
}

#contentarea .alead {
	padding: 10px;
	height: auto;
	text-align: left;
	color: black;
	background-color: white;
}

@media(max-width:767px) {

	#contentarea .categories {
		display: none;
	}
   
}
