header .logo {
	background-color: white;
}

header .name {
	line-height: 100px;
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

header .search {
	line-height: 100px;
	text-align: center;
	font-size: 20px;
	color: white;
}
