#sidebar .title {
	text-align: center;
	background-color: #2A75B1;
	color: white;
}

#sidebar .home {
	text-align: center;
	color: black;
	background-color: #FFFFFF;
}

#sidebar .local{
	text-align: center;
	color: black;
	background-color: #FFFFFF;
}

#sidebar .home:hover {
	background-color: #A9EC4E;
	text-decoration: none;
	color: white;
}

#sidebar .local:hover {
	background-color: #CF0023;
	text-decoration: none;
	color: white;
}

#sidebar .aboutme {
	text-align: center;
	margin-top: 50px;
	background-color: #FFFFFF;
	overflow: hidden;
}

@media(max-width:767px) {

	#sidebar {
		display: none;
	}
   
}
